{% load static %}
<!--<script>

  $(function() {
    $("#query").autocomplete({
      source: "/search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>-->
<div class="body-wrapper">
  <!-- Begin Header Area -->

  <header>
    <!-- Begin Header Middle Area -->
    <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
      <div class="container">
        <div class="row">
          <!-- Begin Header Logo Area -->
          <div class="col-lg-3">
            <div class="logo pb-sm-30 pb-xs-30">
              <a href="/">
                <img src="{% static 'images/menu/logo/3.jpg'%}" alt="">
              </a>
            </div>
          </div>
          <!-- Header Logo Area End Here -->
          <!-- Begin Header Middle Right Area -->
          <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
            <!-- Begin Header Middle Searchbox Area -->
            <form action="/search/" class="hm-searchbox" method="post">

              {% csrf_token %}
              <input name="query" type="text"  placeholder="Enter your search key ...">
              <button class="li-btn"><i class="fa fa-search"></i></button>
            </form>
            <!-- Header Middle Searchbox Area End Here -->
            <!-- Begin Header Middle Right Area -->
            <div class="header-middle-right">

              <ul class="hm-menu">
                <li class="hm-wishlist">
                  <a href="wishlist.html">
                    <span class="cart-item-count wishlist-item-count">0</span>
                    <i class="fa fa-heart-o"></i>
                  </a>
                </li>
              </ul>
               <div class="header-top-right">
                <ul class="ht-menu">
                  <!-- Begin Setting Area -->
                  <li>
                    {% if user.id is not None %}
                    <div class="ht-setting-trigger"><span>{{ user.first_name }}</span></div>
                    {% else %}
                    <a href="/login/">Giriş Yap</a>/<a href="/signup">Kayıt Ol</a>
                    {% endif %}
                    <div class="setting ht-setting">
                      <ul class="ht-setting-list">
                        <li><a href="/user/">Hesabım</a></li>
                        <li><a href="/user/products">İlanlarım</a></li>
                        <li><a href="/user/comments/">Yorumlar</a></li>
                        <li><a href="/logout/">Çıkış Yap</a></li>
                      </ul>
                    </div>
                  </li>

                  <!-- Language Area End Here -->
                </ul>
              </div>
            </div>
            <!-- Header Middle Right Area End Here -->
          </div>
          <!-- Header Middle Right Area End Here -->
        </div>
      </div>
    </div>
    <!-- Header Middle Area End Here -->
    <!-- Begin Header Bottom Area -->
    <div class="header-bottom header-sticky d-none d-lg-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- Begin Header Bottom Menu Area -->
            <div class="hb-menu">
              <nav>
                <ul>
                  <li><a href="/">Anasayfa</a></li>
                  <li><a href="/hakkimizda">Hakkımızda</a></li>
                  <li><a href="/referanslar">Referanslar</a></li>
                  <li><a href="/iletisim">İletişim</a></li>
                  <li><a href="/faq">Faq</a></li>
                  <!-- Begin Header Bottom Menu Information Area -->

                  <!-- Header Bottom Menu Information Area End Here -->
                </ul>
              </nav>
            </div>
            <!-- Header Bottom Menu Area End Here -->
          </div>
        </div>
      </div>
    </div>
    <!-- Header Bottom Area End Here -->
    <!-- Begin Mobile Menu Area -->
    <div class="mobile-menu-area d-lg-none d-xl-none col-12">
      <div class="container">
        <div class="row">
          <div class="mobile-menu">
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu Area End Here -->
  </header>
</div>