{% extends "homebase.html" %}

{% block title %}Referanslarımız-{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block description %}  {{ setting.description }} {% endblock %}


{% block content %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li class="active">Referanslarımız</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {{ setting.referans|safe }}
    </div>
</div>
{% endblock %}