<div class="col-lg-2 order-lg-1 order-2">
            <div class="li-blog-sidebar pt-25">
                <h4 class="li-blog-sidebar-title">Kullanıcı Paneli</h4>
                <ul class="li-blog-archive">
                    <li><a href="/user">Hesabım</a></li>
                    <li><a href="/user/products">İlanlarım</a></li>
                    <li><a href="/user/comments">Yorumlar</a></li>
                    <li><a href="/logout">Çıkış Yap</a></li>
                </ul>
            </div>
        </div>