{% extends "homebase.html" %}

{% block title %}Kullanıcı-Güncelleme {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block description %}  {{ setting.description }} {% endblock %}
{% block head %}
    {% load static %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li class="active">Kullanıcı Güncelleme</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% block sidebar %}
        {% include "userbar.html" %}
        {% endblock %}
        <div class="col-lg-10 order-lg-2 order-1">
            <div class="col-lg-12 pt-25">
                <h4 class="li-blog-sidebar-title"><i class="fa fa-user"></i> Kullanıcı Paneli</h4>

            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="login-form">
                    <h4 class="login-title">İlan Ekle</h4>
                    <div class="row">

                        <div class="col-md-6 col-12 mb-20">
                            {{ form.media }}
                            {{ form.as_p }}
                        </div>
                        <div class="col-md-4 col-12 mb-10">
                        </div>
                        <div class="col-md-6 col-12 mb-10">
                            <button type="submit" class="register-button mt-0">Ekle</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}